<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Youtube Translator</title>
  </head>
  <body>
    <p>
      Sign In with google to continue to Youtube Translator.
      <a href="<%= url %>">click here</a>.
    </p>
  </body>
</html>
