<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Translator</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>YouTube Translator</h1>
      <a href="<%= url %>" class="login-button">Login with Google</a>
    </div>
  </body>
</html>
